  /* ProductGrid.css */
  .carrito-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 70px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .product:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product:active {
    transform: translateY(2px);
  }

  .button-compra {
    background-color: rgb(211, 55, 55);
    margin-top: 30px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
  }

  .button-compra:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
    